{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Welcome{% endblock %}

{% block body %}
    <h1>Welcome in Incidents management</h1>

    <a class="btn btn-primary" href="{{ path('app_report_incident') }}">Report incident</a>
    <a class="btn btn-warning" href="{{ path('app_backoffice_incident_index') }}">Backoffice incidents lists</a>
{% endblock %}
