{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Déclarer un incident{% endblock %}

{% block body %}
    <h1>Déclarer un incident</h1>

    {{ include('app/_incident_form.html.twig') }}

{% endblock %}
